.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 0px;
}

.side-bar {
  width: 200px;
  height: 800px;
  margin-top: 90px;
  color: "#f2f3f4" !important;
}

.side-bar div {
  padding-top: 15px;
  font-size: 20px;
   padding-bottom: 15px; 
  font-family: "Quicksand", sans-serif;
  cursor: pointer;
}

.grid-container-sideBar {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 60px 60px 60px 60px; 
}

.side-bar .grid-container-sideBar :hover {
  background-color: var(--buttoncolor);
}

.side-bar .grid-container-sideBar :hover a{
   color:white;
}


.side-bar a {
  margin-left: 12px;
}

.grid-container-sideBar a {
  color: black;
}

.current-link {
  background-color: gray;
}

.button{
  border: none;
}

.current-link a {
  color: white;
  text-decoration: none;
}

.basic-link a{
  text-decoration: none;
}

.basic-link .dropdown{
  margin-left: 70px;
}
.current-link .dropdown{
  margin-left: 70px;
}

@media (max-width: 450px) {
  .side-bar {
    width: 0;
    height: 0;
  }

  .side-bar .dropdown{
    display: none;
  }
}
