
/* footer */

.footer {
    background: var(--footer);
  }
  
  .mainfooterSection {
    color: hsla(0, 0%, 100%, 0.8);
    font-weight: 100;
    align-items: center;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .footer-menu {
    width: 400px;
    transition: 0.5s all linear;
    text-align: left;
  }
  
  .first-footer-menu{
    margin-left: 225px;
  }

  .second-footer-menu{
    margin-bottom:145px; 
  }

  .third-footer-menu{
    margin-bottom: 105px;
  }

  .footer-menu .footer-item-heading{
    font-family: "Red Hat Display";
    font-style: normal;
    margin-top: 30px;
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 33px;
    color: var(--white);

  }

  
  .footer-menu .footer-item {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  
  .footer-menu .footer-item .footer-itemLink {
    text-decoration: none;
    color: white;
    font-size: 20px;
  }

  

  @media (max-width: 450px) {

    .footer-menu{
      margin-left: 10px;
    }
    .first-footer-menu {
        margin-left:10px;
        margin-top:450px ;
      }
    
      .second-footer-menu {
        margin-bottom:0;
      }
    
      .third-footer-menu {
        margin-bottom:0;
      }
  }
  