.mainbox {
  height: 500px;
  margin-top: 3rem;
  padding-top: 5rem;
}

.heading {
  left: 253px;
  top: 194px;
  font-family: "Red Hat Display";
  font-style: normal;
  text-align: center;
  font-weight: 700;
  color: (--buttoncolor);
  font-size: 28px;
  line-height: 53px;
  /* padding-top: 4px; */
}

.subheading {
  padding: 10px;
}

.subheading p {
  text-align: center;
  color: var(--black);
  margin: 10px 5px;
  font-weight: 400;
  font-size: 15px;
}

.section .p12-34 {
  padding: 12px 24px;
}

.buttons {
  margin-top: 3rem;
  transition: 0.5s all linear;
}
